<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag id='new_post', src: new_post_path %>
<div id="posts">
  <%= render @posts %>
</div>

<div <%= tag.attributes data: { controller: 'alert' } %>>
  <button data-action='click->alert#show'>Alert me!</button>
</div>

<%= tag.div data: { controller: 'alert' } do %>
  <%= tag.button data: { action: 'click->alert#show' } do %>Alert me!<% end %>
<% end %>

<%= content_tag :div, data: { controller: 'alert' } do %>
  <%= content_tag :button, data: { action: 'click->alert#show' } do %>
    Alert me!
  <% end %>
<% end %>

<div data-controller='greeter'>
  <input type='text' data-greeter-target='name'>
  <button data-action='click->greeter#greet'>Greet me!</button>
  <div data-greeter-target='output'></div>
  <div data-greeter-count-value='0'></div>
</div>

