<h1>Editing cat</h1>

<%= render "form", cat: @cat %>

<br>

<div>
  <%= link_to "Show this cat", @cat %> |
  <%= link_to "Back to cats", cats_path %>
</div>

<hr>

<%= turbo_frame_tag @cat do %>
  <div>Form to edit the cat</div>
  <%# link_to 'Return to Cat', @cat, data: { turbo_frame: '_top' } %>
  <%= link_to 'Return to Cat', @cat %>
<% end %>

<%= turbo_frame_tag 'list-region' do %>
  <div>Edit cat_2!</div>
  <div><%= @cat %></div>
  <div><%= @cat.id %></div>
<% end %>
