<p style="color: green"><%= notice %></p>

<h1>Cats</h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <%= render cat %>
    <p>
      <%= link_to "Show this cat", cat %>
    </p>
  <% end %>
</div>

<%= link_to "New cat", new_cat_path %>

<hr>

<% @cats.each do |cat| %>
  <%= turbo_frame_tag cat do %>
    <div><%= cat.name %></div>
  <% end %>
<% end %>

<br>

<%= link_to 'Edit cat 2', edit_cat_path(Cat.find(2)), data: { turbo_frame: 'list-region'} %><br>

<%= turbo_frame_tag 'list-region' %>